#calculator{
    background-color:black;
    margin: 10%auto;
    width: 260px;
}
.display{
    background-color: black;
    border-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    width: 97%;
    padding-top: 10%;
    font-size:50px;
    text-align: right;  
}    
.row{
    width: 100%;
    text-align: center;
    line-height: 60px;
}
.btn {
    width: 50px;
    height: 50px;
    background: #33ccff;
    color: white;
    font-size: 22px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;			
}
.btn2{
    background: #0099ff;
    color: white;
}
.btn3{
    background: #ccf5ff;
    color: black;
}
.btn:hover {
    background: #dddddd;
    color: #FFFFFF;
}	